.gallery {
   margin: 5rem 0; 
}

.gallery__container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.gallery__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.gallery__filters button {
    background: var(--color-gray-0);
    padding: 1.5rem 2rem;
    color: var(--color-gray-900);
    border-radius: var(--radius-3);
    box-shadow: 0 0.7rem 0 var(--color-gray-100);
}

.gallery__filters button.mixitup-control-active {
    background: var(--color-primary);
    color: var(--color-gray-0);
}

.gallery__filters button:hover {
    box-shadow: none;
}

.gallery__images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    gap: 2rem;
}

.gallery__images li {
    border-radius: var(--radius-5);
    overflow: hidden;
}






@media screen and (max-width:600px) {
    .gallery__images {
        gap: 1rem;
    }

    .gallery__filters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem 1rem;
    }
}